@import "tailwindcss";

html,body {
  width: 100%;
  height: 100%;
    background: #0F0F0F;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

.font-rubik {
  font-family: 'Rubik', sans-serif !important;
}